{block title}Výpis článků{/block}
{block description}Výpis všech článků.{/block}
{block content}
<table>
	{foreach $posts as $post}
	<div class="post">
		<h2><a href="{link Homepage:Post $post->id}">{$post->title}</a></h2>
		<div class="date">{$post->created_at|date:'F j, Y'}</div>
		<div>{$post->content|truncate:256|noescape}</div>
		<a n:href="remove $post->id">Odstranit</a>
		<a n:href="editor $post->id">editovat</a>
	</div>
	{/foreach}
</table>
<a n:href="editor">Napsat nový příspěvek</a>