services:
	- App\Router\RouterFactory::createRouter
	- App\Model\MyAuthenticator
	- App\Model\ArticleManager
	- App\Model\PanDeskovekManager
	- App\Security\AuthorizatorFactory::create
	- App\AdminModule\Forms\FormFactory
	- App\AdminModule\Forms\SignInFormFactory
	- App\AdminModule\Forms\RegisterFormFactory
	- App\ReceptyModule\Forms\FormFactory
	- App\ReceptyModule\Forms\EditorRecipesFormFactory
	- App\BlogModule\Forms\FormFactory
	- App\BlogModule\Forms\EditorFormFactory
	- App\PanDeskovekModule\Forms\FormFactory
	- App\PanDeskovekModule\Forms\AddGameFormFactory
	- App\PanDeskovekModule\Forms\AddGameNightFormFactory
	- App\ToDoModule\Forms\FormFactory
	- App\ToDoModule\Forms\AddShoppingFormFactory
	- App\ToDoModule\Forms\AddTasksFormFactory