services:
	- App\Router\RouterFactory::createRouter
	- App\Model\MyAuthenticator
	- App\Model\ArticleManager
	- App\Model\PanDeskovekManager
	- App\Model\ReceptyManager
	- App\Security\AuthorizatorFactory::create
