{block title}Editor{/block}
{block description}Editor článků.{/block}
{block content}
    <div class="container">
        <h1 class="text-center">Editor</h1>
        <p><a n:href="Homepage:default" class="btn btn-primary btnEditor"><i class="fa-solid fa-arrow-left fa-xl"></i></a></p>
        {* Formulář pro editaci. *}
        {control editorForm}    
    </div>
{/block}