{block title}Výpis článků{/block}
{block description}Výpis všech článků.{/block}
{block content}
<div class="container">
    <p><a n:href="Homepage:default" class="btn btn-primary"><i class="fa-solid fa-arrow-left fa-xl"></i></a></p>

    <h1>{$post->title}</h1>

    <div class="travel">{$post->recipe|noescape}</div>
</div>