h4 {
    font-size: 25px;
}

.card {
    margin-top: 30px;
}

.card-body {
    min-height:270px;
}

.top {
    margin-top: 40px;
}

.main {
    height: 500px;
    background-image: url("../img/carousel/Kooikerhondje_chovny.jpg");
    background-position: top;
    background-size: cover;
}

.clanek p {
    text-align: left !important;
}

.date {
    text-align: right;
    font-size: 0.8rem;
}

.container {
    margin-bottom: 50px;
}

.clanek img {
    max-width: 100%;
    height: auto;
}